.cardWrapper {
    composes: cardWrapper from '../../../App.module.css'
}

.actionButtonWrap {
    composes: actionButtonWrap from '../StepPhoneEmail/StepPhoneEmail.module.css'
}

.buttonParagraph {
    composes: buttonParagraph from '../StepPhoneEmail/StepPhoneEmail.module.css'
}

.timer {
    margin: 10px 0;
}